/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
	font-family: Helvetica-Neue, Helvetica, Arial, sans-serif;
	width: 890px;
	margin: auto;
}

a{
	text-decoration: none;
	color: #7A7A7A;
}

a:hover{
	text-decoration: underline;
	color: black;
}

h1{
	width: 170px;
	margin: 30px auto 0px auto;
	font-size: 36pt;
}

.image-container{
	margin: 20px auto 10px auto;
}

.image-container img{
	width: 430px;
	height: 300px;
	margin: 5px;
}

span{
	font-size: 10pt;
	margin-bottom: 20px;
	margin-right: 5px;
	display: inline-block; 
}