/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
	font-family: "Helvetica Neue" Helvetica, Arial, sans-serif;
	font-size: 10pt;
	width: 890px;
	margin: auto;
}

a{
	color: black;
}

a:hover{
	text-decoration: underline;
	color: #ff00ff;
}

h1{
	width: 120px;
	margin: 30px auto 10px auto;
	font-size: 20pt;
}

.image-container{
	margin: 30px auto 0px auto;
}

.image-container img{
	width: 430px;
	height: 300px;
	margin: 5px;
}

.about-container{
	width: 475px;
	margin: 150px auto;
}

h1 a, a.asterisk, a.back{
	text-decoration: none;
	color: black;
}

a.asterisk{
	text-decoration: none;
	font-size: 25pt;
	margin-bottom: 20px;
	margin-left: 5px;
	display: inline-block;
}

a.asterisk:hover, h1 a:hover, a.back:hover{
	text-decoration: none;
	color:#ff00ff;
}

a.back{
	display: inline-block;
	font-size: 20px;
	margin-top: 10px;
	text-decoration: none;

}

span.credit{
	display: inline-block;
	margin-top: 20px;
}


